.App {
  text-align: center;
}

ul {
  text-align: center;

  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    margin-right: 12px;
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }

  input[type="checkbox"] {
    margin-right: 12px;
  }
}
