ul {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }

  .checked{
    text-decoration: line-through;
    color: #888;
  }

  a {
    margin-right: 12px;
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }

  input[type="checkbox"] {
    margin-right: 12px;
  }
}
